.article-panel {
  background-color: #fff;
  border-radius: 4px;
  min-height: calc(100vh - 136px);
}

.article-panel__header {
  height: 66px;
  padding: 0 30px;
  border-bottom: 1px solid #ebeef5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-panel__title {
  margin: 0;
  font-size: 24px;
  color: #303133;
  font-weight: 600;
}

.article-panel__body {
  padding: 30px;
}
